.App {
  text-align: center;
  font-family: sans-serif;
  background-color: var(--pomo-inactive-color);
  transition: background-color 0.3s ease;
}

.App.pomo-active {
  background-color: var(--pomo-active-color);
}

h1 {
  color: #333;
}

:root {
  --pomo-active-color: #f0f8ff;
  --pomo-inactive-color: #fff;
}

.settings {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settings label {
  display: block;
  margin-bottom: 5px;
}

.settings input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
